@{ViewData["Title"] = "Forgot Password Confirmation";}

<h2> Forgot Password Confirmation </h2>

<p>If an account with the provided email exists, a password reset link has been sent to your email address. Please check your email to reset your password.</p>

<p><a asp-action="Login">Return to Login</a></p>