@model IEnumerable<Bookworms_Online.Models.AuditLog>

<h2>Audit Logs</h2>

<table>
    <thead>
        <tr>
            <th>User ID</th>
            <th>Action</th>
            <th>IP Address</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody>
         @if (!Model.Any())
        {
            <tr>
                <td colspan="4">No audit logs found for your account.</td>
            </tr>
        }
        else
        {
        @foreach (var log in Model)
        {
            <tr>
                <td>@log.UserId</td>
                <td>@log.Action</td>
                <td>@log.IPAddress</td>
                <td>@log.Timestamp</td>
            </tr>
        }
        }
    </tbody>
</table>
